[submodule "src/submodules/web-core"]
	path = src/submodules/web-core
	url = https://github.com/LetsUpgrade-Labs/web-core.git
	branch = main
[submodule "src/submodules/plugins"]
	path = src/submodules/plugins
	url = https://github.com/LetsUpgrade-Labs/lisa-plugins.git
	branch = main
[submodule "src/submodules/content"]
	path = src/submodules/content
	url = https://github.com/LetsUpgrade-Labs/lisa-content.git
	branch = main
